<mat-form-field>
  <mat-label>Email:</mat-label>
  <input matInput [(ngModel)]="usersObj.Email" />
</mat-form-field>
<button mat-button (click)="activeBut()">submit</button>
<br />

<mat-form-field>
  <!-- htmllanthu service filela clpnrom -->
  <mat-label>Name:</mat-label>
  <input matInput [(ngModel)]="my.user.name" />
</mat-form-field>
<button mat-button (click)="my.clickButton()">submit</button>
<br />
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="progress-bar" data-percent="70" data-duration="1000"></div>
    </div>
  </div>
  <!-- <p>tamil<span style="color: blue;">selvan</span></p> -->
  <!-- (click)='this.passingServe.clickButton()' -->
  <!-- {{}} values matum vaikalam -->
  <!-- {{my.email}} -->
</div>
